<section class="container py-1 bg-light2 align-center rounded-top" th:fragment="footer">
    <div class="row justify-content-center">
        <div class="col-auto mx-4 py-1">
            <div class="text-center  fs-20 text-secondary ">
                <h4>Teléfono: 22-555-555</h4>
            </div>
        </div>
        <div class="col-auto mx-4 py-1">
            <div class="text-center fs-20 text-secondary ">
                <h4>Dirección: Alberto Llona 1048, Maipú.</h4>
            </div>
        </div>
        <p>Praxis © 2024 Powered by Cristopher Montecinos</p>
    </div>
</section>